@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    scroll-behavior: smooth;
    background-color: #FFFFFF;
}

img{
    display: block;
    max-width: 100%;
}

a,
h1,
p, 
button{
    font-family: "Inter", sans-serif;
}

.container{
    max-width: 1920px;
    margin: 0 auto;
}
